.signin-container{
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: 'Amatic SC', cursive;
}

.signin-title{
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    padding-top: 3rem;
}
.form-label{
    color: white;
    font-size: 2rem;
}
.form-container{
    margin-top: 5rem;
    align-items: left;
}
.signinput{
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.5rem !important;
}
.signinput:focus{
    outline: none;
}
.errorText{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: red;
}