.adventuredetail-container{
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    background-color: black;
    padding-right: 2rem;
}
.adventure-detail-image{
    box-shadow: 0rem 0 5rem #acaaaa;
    transition: transform 1s;
}
.adventure-detail-image:hover{
    transform: scale(1.05);
}
.title{
    font-family: 'Amatic SC', cursive;
    margin-bottom: 5rem;
    font-size: 5rem;
}
.subtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}
.text{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: white;
}
.description{
    margin-top: 3rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: white;
}