.promo-background-container{
    z-index: -1;
    max-height: 50vh;
}
.gradient{
    background-image: linear-gradient(black, transparent);
    height: 10rem;
    position: relative;
    z-index: 1;
}
.backgroundVideo2{
    object-fit: contain;
    margin-top: -10rem;
}
.promo-container{
    min-height: 50vh;
    width: 100vw;
    align-items: center;
    text-align: center;
}

.promo-title{
    font-family: 'Amatic SC', cursive;
    font-size: 7rem;
    margin-top: 2rem;
}
.promo-subtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    margin-top: 1rem;
}
.promo-subtitle2{
    font-family: 'Amatic SC', cursive;
    font-size: 1rem;
}

@media screen and (max-width: 900px){
    .promo-title{
        font-size: 4rem;
        margin-top: 2rem;
    }
    .promo-subtitle{
        font-size: 2rem;
        margin-top: 0;
    }
    .promo-subtitle2{
        font-size: 1rem;
        margin-top: 0;
    }
}