.about-container{
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
}
.about-title{
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    padding-top: 1rem;
}
.brenno-title{
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    color: white;
    padding: 1rem
}

.brenno-subtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: white;
}
.brenno-site{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: blue
}
.slide-image{
    object-fit: cover;
    width: 50vw;
    height: 50vh;
}