
.trailer-container{
    width: 100vw;
    text-align: center;
    align-items: center;
    background-color: black;
}

.trailer-title{
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-family: 'Amatic SC', cursive;
    font-size: 6rem;
}
.video-container{
    padding-bottom: 3rem;
}
@media screen and (max-width: 900px){
    .trailer-title{
        font-size: 2rem;
        padding-bottom: none;
    }
}
