.tripdetail-container{
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    background-color: black;
    padding-right: 2rem !important;
}

.title{
    font-family: 'Amatic SC', cursive;
    margin-bottom: 5rem;
    font-size: 5rem;
}
.subtitle{
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}
.text{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: white;
}
.description{
    margin-top: 3rem;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: white;
}